{% extends "base2.html" %}
{% load static %}

{% block start  %}
    <nav style="height: 100px;" class="navbar navbar-expand-lg navbar-dark bg-primary">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="#">Your Logo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>

                    </li>
                    <li style="display: flex;" class="nav-item">
                        <a  href="/logout/" class="transaction-date" style="color: white; font-size: larger; ">logout <i class="fa fa-sign-out"></i></a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
{% endblock start %}
    
