{% extends "base.html" %}
{% load static %}
{% block body %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="balance-box text-center ">
                <h3>Account Balance</h3>

                {% if 0 > profile.balance %}
                <p class="balance-value" style=" margin-top: 31px;  font-size: medium;  color: brown;  ">
                    Insufficeint balance</p>
                {% elif 100 > profile.balance %}
                <p class="balance-value" style=" margin-top: 31px;  font-size: medium;  color: brown;  ">
                    {{profile.balance}}</p>
                {% else %}
                <p class="balance-value">₹ {{profile.balance}}</p>
                {% endif %}
            </div>
        </div>
        <div class="col-md-4">
          

            <div class="balance-box text-center">
                <h3> Income <button type="button" class=" text-center border-0 " data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                        +
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <form method="post" action="/income/">
                                        {%csrf_token%}
                                        <h5 class="modal-title" id="exampleModalLabel">Add Income</h5>


                                </div>
                                <div class="modal-body">
                                    <input name="person" placeholder="person name" class="form-control" type="text"
                                        value>
                                </div>
                                <div class="modal-body">
                                    <input name="income" placeholder="depsoite" class="form-control" type="text"
                                        value>
                                </div>
                                <div class="modal-body">
                                    <input name="purpose" placeholder="purpose" class="form-control" type="text"
                                        value>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">close</button>
                                    <button type="submit" class="btn btn-primary ">add</button>

                                </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </h3>
                <p class="balance-value" style="color: rgb(0, 102, 255) ;">₹ {{profile.income}}</p>


            </div>
        </div>
       
        <div class="col-md-4">
            <div class="balance-box text-center">
                <h3>{{m_name}} Expense</h3>
                <p class="balance-value">₹ {{monthly_expense}}</p>
            </div>
        </div>
    </div>

</div>


<section class="intro">
<div class="bg-image h-100 mt-5 "  >
    <div class="mask d-flex align-items-center h-200">
     <!-- {% if monthly_expense > 0 %} -->
        <div>
            
            <img style="height: 500px;" src=" {% static 'pie_chart_2.png' %}">
        </div>
    
     
       <!-- {% else %}
       <h2   ></h2>
       {% endif %} -->
       
       <div class="container">
        {% if messages %}
        {% for message in messages %}
        <div  id="message_container" class="alert alert-success" role="alert">
            {{message}}
            {% endfor %}
        </div>
        {% endif %}
        <a href="{% url 'generate_pdf' %}" class="btn btn-secondary">Get PDF</a> 
         
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body"  style="height:500px;overflow:auto">
                            <div >
                                <table class="table table-hover mb-0">
                                    <h1 >{{m_name}}  Total Expenses </h1>  
                                    <div style="display: flex;">
                                        <form class="d-flex" method="get">
                                        
                                          <!-- <input  class="card balance-box" style="width:300px; height:20px;"  type="search" placeholder="Search"  name="search_month"> -->
                                          <!-- <button style="height:40px; padding-bottom: 5px; margin-left: 5px; margin-bottom: 20px;" class=" btn btn-primary" type="submit">Search</button> -->
                                            <select class="form-control" name="months">
                                                <option value="January">January</option>
                                                <option value="February">February</option>
                                                <option value="March">Mar</option>
                                                <option value="April">April</option>
                                                <option value="May">May</option>
                                                <option value="June">June</option>
                                                <option value="July">July</option>
                                                <option value="August">August</option>
                                                <option value="September">September</option>
                                                <option value="October">October</option>
                                                <option value="November">November</option>
                                                <option value="December">December</option>
                                            </select>
                                            <button  class="btn btn-primary">search</button>
                                        </form>
                                        
                                      </div>
                                    <thead>
                        {% for exp in expense %}
                        <ul class="transaction-list">
                            <li class="transaction-item">
                                <div>
                                    <h6><b>{{exp.person}}</b></h4>
                                        <h4>{{exp.category_name}}</h4>
                                        <p>{{exp.payment_mode}}
                                        <p>
                                            <span class="transaction-date">{{exp.date|date:"F d Y "}}</span>
                                        </div>
                                        
                                        {% if exp.transaction_type == "PAYED" %}
                                        
                
                                <div class="transaction-amount" style="color: brown;">- ₹{{exp.amount}}</div>
                                <a   href="{% url 'update' exp.id %}"   >
                                    <i class="fa fa-pencil" style="font-size:17px"></i>
                                </a><a onclick="return myFunction()" href="{% url 'delete' exp.id %}" ><i style="color: brown;"  class="material-icons">delete</i></a>                 
                                </a>
                                {% else %}
                                <div class="transaction-amount" style="color: rgb(48, 165, 42);">- ₹{{exp.amount}}</div>
                                <a   href="{% url 'update' exp.id %}"   >
                                    <i class="fa fa-pencil" style="font-size:17px"></i>
                                </a><a onclick="return myFunction()" href="{% url 'delete' exp.id %}" ><i style="color: brown;"  class="material-icons">delete</i></a>                 
                                </a>
                               
                
                                {% endif %}
                            </li>
                            
                            
                        </ul>
                        
                        {% endfor %}
                        
                        <div style="display: flex;"><p> Total Expense </p>&nbsp; {{monthly_expense}}</div>
                        <div style="display: flex;"><p> Total Income </p>&nbsp; {{total_income}}</div>
                        
                    </div>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<script>
    var message_ele = document.getElementById("message_container");

    setTimeout(function () {
        message_ele.style.display = "none";
    }, 3000);
</script>
{% endblock body %}




